.guildicon {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  object-fit: cover;
  background-color: black;
}

.guildiconroot {
  box-sizing: border-box;
  border-radius: 50%;
  margin-top: 8px;
  border: 2px solid transparent;
}
