// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import '~vuetify/src/styles/tools/_functions.sass';

:root {
  --harmony-background-base: #121212;
  --harmony-background-chrome-inner: #161616;
  --harmony-background-chrome-outer: #202020;
  --harmony-background-chrome-alt: #212121;

  --harmony-foreground: #eff0f1;

  --harmony-borders: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: light) {
:root {
  --harmony-background-base: #ffffff;
  --harmony-background-chrome-inner: #eeeeee;
  --harmony-background-chrome-outer: #dddddd;
  --harmony-background-chrome-alt: #dadada;

  --harmony-foreground: #121212;

  --harmony-borders: rgba(0,0,0,0.1);
}

.v-application, .v-btn, .v-btn--icon, .v-input textarea, .v-list {
  color: var(--harmony-foreground) !important;
}

}

$material-dark: (
  background: var(--harmony-background-base),
);

$harmony-dark-base: #121212;

$material-dark-elevation-colors: () !default;
$material-dark-elevation-colors: map-deep-merge(
  (
    '0': $harmony-dark-base,
    '1': lighten($harmony-dark-base, 5%),
    '2': lighten($harmony-dark-base, 7%),
    '3': lighten($harmony-dark-base, 8%),
    '4': lighten($harmony-dark-base, 9%),
    '6': lighten($harmony-dark-base, 11%),
    '8': lighten($harmony-dark-base, 12%),
    '12': lighten($harmony-dark-base, 14%),
    '16': lighten($harmony-dark-base, 15%),
    '24': lighten($harmony-dark-base, 16%),
  ),
  $material-dark-elevation-colors
);

$list-item-action-icon-margin: 8px;
$list-item-action-margin: 0px;
