html {
  overflow-y: auto !important;
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('~assets/Roboto/roboto-v20-latin-regular.woff2') format('woff2'),
    url('~assets/Roboto/roboto-v20-latin-regular.woff') format('woff');
}
