kbd {
  @apply p-1 py-0 rounded-sm shadow-black shadow-lg bg-surface-900 border-surface-400 border-1 text-xs inline-block;
}

a {
  @apply text-primary-300
      hover:underline
      cursor-pointer
      whitespace-nowrap
      overflow-hidden overflow-ellipsis select-none;
}

button {
  @apply focus:outline-none focus:ring-2 focus:ring-current;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
