kbd {
  @apply p-1 py-0 rounded-sm shadow-black shadow-lg bg-surface-900 border-surface-400 border-1 text-xs inline-block;
}

a {
  @apply text-primary-300
      hover:underline
      cursor-pointer
      whitespace-nowrap
      overflow-hidden overflow-ellipsis select-none;
}

* {
  @apply !!outline-none focus:outline-none focus-visible:outline-none;
}

@layer utilities {
  .flexcol {
    @apply flex flex-col;
  }

  .square {
    aspect-ratio: 1;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .compact-scrollbar, * {
    &::-webkit-scrollbar {
      @apply w-1.5;
    }
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    &:hover {
      &::-webkit-scrollbar {
        @apply bg-surface-600;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-surface-400;
      }
    }
  }
}
